$primary-color: var(--bg1, linear-gradient(102deg, #2C2C2C 1.56%, #1C1C1C 95.55%));
$secondary-color: var(--Gray2, linear-gradient(131deg, #414141 0%, #2D2D2D 100.52%));
$aboutMe-section-color: #383636;
$aboutMe-secondary-section-color: #fff;