@import '../../styles/variables.scss';

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: $primary-color;
    padding: 50px 10px 50px 10px;
}

.container {
    width: 1000px;
    display: flex;
    justify-content: space-between;

    .textWrapper {
        max-width: 450px;
        max-height: 635px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & *:first-child {
            font-size: 48px;
            font-weight: 600;
            color: #E4E4E4;
        }

        & *:nth-child(2) {
            font-size: 72px;
            font-weight: 700;
            color: #E4E4E4;
        }

        & *:nth-child(3) {
            font-size: 18px;
            font-weight: 300;
            color: #E4E4E4;
        }
    }

    .mainPhoto {
        width: 100%;
        max-height: 635px;
        border-radius: 70px;
        filter: sepia(50%) brightness(80%) contrast(120%);
    }

    .linkWrapper {

        .link {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #676767;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
            margin-top: 20px;
        }

        .link:hover {
            background-color: #474747;
            transform: scale(1.05);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            filter: drop-shadow(3px 3px 10px rgba(255, 255, 255, 1));
        }
    }
}

// Адаптив

@media (min-width:320px) and (max-width:767px) {
    .container {
        display: block;

        .textWrapper {
            text-align: center;
            margin: auto;

            & *:first-child {
                font-size: 25px;
                font-weight: 600;
                color: #E4E4E4;
            }

            & *:nth-child(2) {
                font-size: 30px;
                font-weight: 700;
                color: #E4E4E4;
            }

            & *:nth-child(3) {
                font-size: 15px;
                font-weight: 300;
                color: #E4E4E4;
            }
        }

        .linkWrapper {
            margin-bottom: 20px;

            .link {
                padding: 5px 10px;
                font-size: 15px;
            }
        }

        .photoWrapper {
            max-width: 180px;
            margin: 0 auto;
        }
    }
}

@media (min-width:768px) and (max-width:992px) {
    .container {

        .textWrapper {
            max-width: 350px;

            & *:first-child {
                font-size: 25px;
                font-weight: 600;
                color: #E4E4E4;
            }

            & *:nth-child(2) {
                font-size: 30px;
                font-weight: 700;
                color: #E4E4E4;
            }

            & *:nth-child(3) {
                font-size: 15px;
                font-weight: 300;
                color: #E4E4E4;
            }
        }

        .photoWrapper {
            margin-left: 20px;
        }

        .linkWrapper {

            .link {
                padding: 5px 10px;
                font-size: 15px;
            }
        }
    }
}